@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: var(--tg-theme-bg-color, #18222d);
  --button-color: var(--tg-theme-button-color, #2481cc);
  --button-color-5: var(--tg-theme-button-color-5, #2481cc10);
  --hint-color: var(--tg-theme-hint-color, #b1c3d5);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color, #131415);
  --header-bg-color: var(--tg-theme-header-bg-color, #131415);
  --text-color: var(--tg-theme-text-color, #ffffff);
  --button-text-color: var(--tg-theme-button-text-color, #ffffff);
  --section-bg-color: var(--tg-theme-section-bg-color, #18222d);
  --accent-text-color: var(--tg-theme-accent-text-color, #2ea6ff);
  --subtitle-text-color: var(--tg-theme-subtitle-text-color, #b1c3d5);
  --link-color: var(--tg-theme-link-color, #62bcf9);
  --link-color-5: var(--tg-theme-link-color-5, #62bcf920);
  --section-header-text-color: var(--tg-theme-section-header-text-color, #b1c3d5);
  --destructive-text-color: var(--tg-theme-destructive-text-color, #ef5b5b);
  --destructive-text-color-5: var(--tg-theme-destructive-text-color-5, #ef5b5b10);
  --Restaurant: #f49945;
  --Shopping: #a37dd4;
  --Cinema: #34bdf7;
  --rate: #ffb647;
}

body {
  background-color: var(--bg-color);
  font-family: Roboto;
  margin: 0;
}

.fade-enter {
  @apply opacity-0;
}

.fade-enter-active {
  @apply opacity-100 transition-opacity duration-300;
}

.fade-exit {
  @apply opacity-100;
}

.fade-exit-active {
  @apply opacity-0 transition-opacity duration-300;
}

.vertical-enter {
  @apply max-h-0 overflow-hidden;
}

.vertical-enter-active {
  @apply max-h-[300px] overflow-hidden transition-all duration-500 ease-in-out;
}

.vertical-exit {
  @apply max-h-0 hidden overflow-hidden;
}

.vertical-exit-active {
  @apply max-h-0 hidden overflow-hidden transition-all duration-500 ease-in-out;
}

.horizental-enter {
  @apply max-w-0 overflow-hidden;
}

.horizental-enter-active {
  @apply max-w-[300px] overflow-hidden transition-all duration-500 ease-in-out;
}

.horizental-exit {
  @apply max-w-0 w-0 overflow-hidden;
}

.horizental-exit-active {
  @apply max-w-0 w-0 overflow-hidden transition-none duration-0 ease-in-out;
}

.pageSliderTop-enter {
  transform: translate3d(0, 100%, 0);
  overflow: hidden;
}
.pageSliderTop-enter.pageSliderTop-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  overflow: hidden;
}
.pageSliderTop-exit {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  display: none;
}
.pageSliderTop-exit.pageSliderTop-exit-active {
  transform: translate3d(0, 0, 0);
  transition: all 0;
  overflow: hidden;
  display: none;
}

.pageSliderLeft-enter {
  transform: translate3d(100%, 0, 0);
  overflow: hidden;
}
.pageSliderLeft-enter.pageSliderLeft-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  overflow: hidden;
}
.pageSliderLeft-exit {
  transform: translate3d(0, 0, 0);
  display: none;
  overflow: hidden;
}
.pageSliderLeft-exit.pageSliderLeft-exit-active {
  transform: translate3d(0, 0, 0);
  transition: all 0;
  display: none;
  overflow: hidden;
}
