@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: var(--tg-theme-bg-color, #18222d);
  --button-color: var(--tg-theme-button-color, #2ea6ff);
  --button-color-5: var(--tg-theme-button-color-5, #2ea6ff10);
  --hint-color: var(--tg-theme-hint-color, #b1c3d5);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color, #131415);
  --header-bg-color: var(--tg-theme-header-bg-color, #131415);
  --text-color: var(--tg-theme-text-color, #ffffff);
  --button-text-color: var(--tg-theme-button-text-color, #ffffff);
  --section-bg-color: var(--tg-theme-section-bg-color, #18222d);
  --accent-text-color: var(--tg-theme-accent-text-color, #2ea6ff);
  --subtitle-text-color: var(--tg-theme-subtitle-text-color, #b1c3d5);
  --link-color: var(--tg-theme-link-color, #62bcf9);
  --link-color-5: var(--tg-theme-link-color-5, #62bcf920);
  --section-header-text-color: var(--tg-theme-section-header-text-color, #b1c3d5);
  --destructive-text-color: var(--tg-theme-destructive-text-color, #ef5b5b);
  --destructive-text-color-5: var(--tg-theme-destructive-text-color-5, #ef5b5b10);
  --Restaurant: #f49945;
  --Shopping: #a37dd4;
  --Cinema: #34bdf7;
  --rate: #ffb647;
}

body {
  background-color: var(--bg-color);
  font-family: Roboto;
  margin: 0;
}
